body{
  text-align: center;
  margin:0 auto 0 auto;
}
.container{
  background-color: hsl(185, 75%, 39%);
  margin: auto;
  width:1440px;
}
.card{
  margin: auto;
  background-color: white;
  width: 25%;
}
.top-pattern{
  position:relative;
  right: 600px;
  bottom: 500px;
}
.bottom-pattern{
  position:relative;
  left: 400px;
  bottom: 700px;
}
